<!-- chat/templates/chat/room.html -->
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/mystyles.css' %}">

</head>

<body>
    <div class="container-fluid">
        <div>
            <h3 id='room-name-h'></h3>
        </div>
        <div id='chat-log' class="border border-primary chat-log">
        </div>
        <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
        <input id="chat-message-input" type="text" placeholder="message" size="100"><br>
        <input id="chat-message-submit" class="btn btn-success" type="button" value="Send">
        {{ room_name|json_script:"room-name" }}
        <!-- Content here -->
    </div>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const textColorArr = ['text-primary', 'text-secondary', 'text-success', 'text-danger', 'text-warning',
            'text-info'
        ]
        const textColor = textColorArr[Math.floor(Math.random() * textColorArr.length)];
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );
        document.querySelector('#room-name-h').innerHTML = `Room name:  ${roomName}`
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').innerHTML +=  (data.message + '</br>');
            document.querySelector('#chat-log').scroll(0,80000)
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) { // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            const timee = new Date().toLocaleTimeString()
            chatSocket.send(JSON.stringify({
                'message': `<span class='${textColor}'> ${timee}: ${message} </span>`
            }));
            messageInputDom.value = '';
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>

</html>